main{
    width: auto;
    display: grid;
    grid-template-columns: 1fr;    
    grid-template-rows: auto;
    grid-template-areas: 
    /* "compose" 
    "nav"
    "labels" */
    "header"
    "email"
    "footer";
    /* "BigEmailHead" 
    "BigEmailArticle";  */
}
body{
    margin: 0;
    max-width: 639px;
}
#compose{
    grid-area: compose;
    display: flex;
    justify-content: center;
    background: #1B98F8;
    border-radius: 20px;
    margin: 16px auto;
    margin-top: 15px;
    padding: 10px 20px;
    width: 60px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background: #252a3a;
    margin-top: 0px;
    padding-bottom: 20px;
    grid-area: header;
}
header #menu{
    font-family: Arial, Helvetica, sans-serif;
    color: #2089f5;
    padding: 10px 9px 10px 555px
}
#navnumber2{
    color: #31578c;
}
header nav{
    grid-area: nav;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
}
.labels div{
    padding-bottom: 10px;
}
.labels div::before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    border-radius: 2px;
}
.labels .labelelement1::before{
    background: #ffc94c;
}
.labels .labelelement2::before{
    background: #41ccb4;
}
.labels .labelelement3::before{
    background: #40c365;
}
.labels{
    grid-area: labels;
    margin-top: 10px;
    margin-left: 25px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
header h3{
    color: #4e6e92;
    font-weight: 500;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
}
section{
    max-height: 600px;
    overflow-y: auto;
    grid-area: email;
}
.email{
    border-bottom: solid rgb(192, 182, 182) 1px;
    display: flex;
    justify-content: start;
    font-size: 14px;
}
.email:hover{
    background: #eeeeee;
}
.email #emailtxt{
    margin-left: 7px;
}
.email img{
    margin-top: 17px;
    margin-left: 15px;
    border-radius: 5px;
}
.sender{
    font-family: 'Manrope', sans-serif;
    color: grey;
    margin-bottom: -18px;
}
.emailtopic{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
}
.emailshort{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-top: -10px;
}
footer a{
    text-decoration: none;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    grid-area: footer;
}
.BigEmailDate{
    color: gray;
}
footer .button{
   padding: 6px 26px; 
   color: black;
   border: 1px solid gray;
   border-radius: 20px;
   width: 60px;
   margin-bottom: 3px;
   display: flex;
   justify-content: center;
}
footer .button:hover{
    background: #f1f1f1;
}
section img{
    width: 40px;
    height: 40px;
}
footer #BigEmailHead{
    display: flex;
    justify-content: space-around;
    border-bottom: solid rgb(192, 182, 182) 1px;
    border-top: solid rgb(192, 182, 182) 1px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
}
footer #BigEmailArticle{
    display: flex;
    justify-content: center;
    width: 495px;
    margin-left: 30px;
    margin-bottom: 35px;
}
footer #BigEmailLink{
    color: #1b98f8;
}
footer #BigEmailHeadButtons{
    margin-top: 20px;
}


@media(min-width: 1228px){
    main{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 8fr;    
        grid-template-rows: auto;
        grid-template-areas: 
        "header email footer";       
    }
    header{
        width: 200px;
    }
    header #menu{
        opacity: 0;
        visibility: hidden;
        display: none;
    }
    section{
        width: 400px;        
        max-height: 600px;
        overflow-y: auto;              
    }
    footer{
        width: 700px;
    }
    footer #BigEmailHead{
        border-top: none;        
    }
    footer{
        border-left: solid rgb(192, 182, 182) 1px;
    }
}
@media(min-width: 960px){
    main{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 8fr;    
        grid-template-rows: auto;
        grid-template-areas: 
        "header email footer";       
    }
    header{
        width: 150px;
    }
    header #menu{
        opacity: 0;
        visibility: hidden;
        display: none;
    }
    section{
        width: 310px;        
        max-height: 600px;
        overflow-y: auto;              
    }
    footer{
        width: 500px;
    }
    footer #BigEmailHead{
        border-top: none;        
    }
    footer{
        border-left: solid rgb(192, 182, 182) 1px;
    }
}
